@model List<PDL.Viewmodels.MeasurementSourceViewModel>

@{
    ViewData["Title"] = "Measurements";
}

<!--div>
    <canvas id="myChart"></canvas>
</!--div-->

<div class="container">
    <div class="row">
        <table class="table-bordered table-primary m-1">
            @{
                if (Model != null && Model.Count > 0)
                {
                    <tr class="btn-secondary">
                        <th>
                            Name
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Unit
                        </th>
                    </tr>
                    foreach (var a in Model)
                    {
                        <tr>
                            <td>
                                @a.Name
                            </td>
                            <td>
                                15.2
                            </td>
                            <td>
                                @a.SourceType.Unit
                            </td>
                        </tr>
                    }
                }
            }
        </table>
        <a asp-action="MeasurementsAdd" class="btn btn-primary m-1">Create</a>
    </div>
</div>




<!--script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'scatter',
      data: {
        labels: ['Red', 'Blue'],
        datasets: [{
          label: '# of Votes',
          data: [1, 23, 14, 2],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          },
          x: {
            beginAtZero: true
          }
        }
      }
    });
</script-->
